@charset "UTF-8";

#input{
    position: relative;
    border: 1px solid black;
    bottom: -1px;
    right: -600px;
    width: 200px;
    height: 40px;
    font-size: 17px;
    padding: 3px;
    border-radius: 6px;
   }

   #input1{
    position: relative;
    border: 1px solid black;
    bottom: -1px;
    right: -609px;
    width: 209px;
    height: 40px;
    font-size: 17px;
    padding: 3px;
    border-radius: 6px;
   }

   #button{
    position: relative;
    right: 159px;
    top: -3px;
    left: 619px;
    width: 90px;
    height: 49px;
    border-radius: 6px;
}

#link{
    position: relative;
    bottom: 40px;
     right: -1159px; 
    /* border-bottom: 1px solid black; */
}

#link:hover{
    text-decoration: underline;
   }

#teste{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border: 1px solid black;
    width: 600px;
    height: 299px;
    left: 400px;
    bottom: -80px;
    border-radius: 6px;
    margin-bottom: 179px;
}

body{
    background-color: #e9ebee;
}

#row{
    position: relative;
    bottom: -200px;
    background-color: white;
    width: 9000px;
    right: 500px;
    height: 900px;
}

#h5{
    position: relative;    
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    padding: 20px;
    top: -20px;
}

#p{
    position: relative;
    margin: 20px;
    top: -20px;
    margin-bottom: 20px;
}

#input2{
    position: relative;
    border: 1px solid black;
    top: -10px;
    right: -39px;
    width: 500px;
    font-size: 17px;
    padding: 7px;
    border-radius: 6px;
}

#div-button{
    position: relative;
    margin-top: 10px;
    padding: 19px;
    border-top: 1px solid black;
    bottom: 10px;
    
}

#button1{
    position: relative;
    right: -439px;
    padding: 0 20px;
    font-size: 15px;
    line-height: 36px;
    border-radius: 6px;
}

#button2{
    position: relative;
    right: -179px;
    padding: 0 20px;
    font-size: 15px;
    line-height: 36px;
    border-radius: 6px;
    color: black;
}

#footer{
    position: relative;
    top: -20px;
    font-size: 12px;
    padding: 109px;
}

#ul-links{
    position: relative;
    display: flex;
}

.linkz{
    margin-left:40px;
    color: black;
}

.linkz:hover{
    text-decoration: underline;
   }

#p1{
    position: relative;
    color: black;
    bottom: -30px;
}

#border{
    border-bottom: 1px solid black;
    margin-left:40px;
}

.p3{
    color: black;
    margin-left:40px;
    display: flex;
    margin-top:10px;
}

#container{
    position: relative;
    margin-top: -30px; 
   margin-left:50px;
}

#add{
    position: relative;
    margin-left: 30px;
    bottom: 3px;
    color: black;
    border: 1px solid black;
}

#row-footer{
    position: relative;
    bottom: -90px;
}

 #card-panel{
    position: relative;
    padding:100px;
    top:-30px; 
} 

#card-pane1{
    position: relative;
    padding:100px;
    top:-30px; 
} 

/* .p3:hover{
    text-decoration: underline;
   } */